<div>
  {{title}}
</div>

    부서번호 :{{di.diNo}}<br> 
    부서이름 :{{di.diName}}<br>
    부서설명 :{{di.diDesc}}<br>
    부서인원 :{{di.diCnt}}<br>

  <app-depart-update
    *ngIf="visible2"
    [title]="subTitle2"
    [duDiNo]="duDiNo"
    (childVisible)="toggleDepartInsert($event)"
    (childDi)="updateDepart($event)"
  ></app-depart-update>
  
  <app-depart-insert 
    *ngIf="visible"
    [title]="subTitle"
    (childVisible)="toggleDepartInsert($event)"
    (childDi)="addDepart($event)"
    >
  </app-depart-insert>
  <div>
      <!--<button (click)="toggleDepartInsert()">부서추가(레이어)</button>-->
      <button (click)="toggleDepartInsert(true)">부서추가(레이어)</button>
      <input type="text" [(ngModel)]="diNo">
      <button (click)="showDepartList()">부서 리스트 검색</button>
  </div>
  <!--<div>
    <button (click)="printDepartInfo()">변경</button>
    <button (click)="addDepart()">부서추가</button>
    <button (click)="showDepartList()">부서리스트보기</button>
    <button (click)="changeShow()">테스트 {{button}}</button>
  </div>-->
  <table width="100%" *ngIf="diList.length != 0" border="1" style="border-collapse:collapse">
      <tr>
        <th>idx</th>
        <th>부서번호</th>
        <th>부서이름</th>
        <th>부서설명</th>
        <th>부서인원</th>
        <!--<th>삭제</th>-->
        <th>삭제2</th>
      </tr>
      <tr *ngFor="let di of diList; let idx = index" height="20">
          <td>{{idx}}</td>
          <td (click)="openView(di)">{{di.diNo}}</td>
          <td>{{di.diName}}</td>
          <td>{{di.diDesc}}</td>
          <td>{{di.diCnt}}</td>
          <!--<td><button (click)="deleteDepart(di)">삭제</button></td>-->
          <td><button (click)="deleteDepart2(di)">삭제2</button></td>
          
      </tr>
</table>

<app-test *ngIf="isShow"></app-test>