<!--The content below is only a placeholder and can be replaced.-->
<div id="wrap">
    <div>
      <nav class="navbar navbar-default">
        <div class="container-fluid'">
          <a href="/" class="navbar-brand">{{pageTitle}}</a>
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/user']">User List</a></li>
            <li><a [routerLink]="['/test']">Test Component</a></li>
            <li><a [routerLink]="['/depart']">Depart Component</a></li>
            <li><a [routerLink]="['/functest']">Func Component</a></li>
            <li><a [routerLink]="['/promise']">Promise Component</a></li>
          </ul>
        </div>
      </nav>
    </div> 
  <div id="container">
    <router-outlet></router-outlet>
  </div>
</div>


<div style="display:none">
  <button (click)="test()">버튼</button>
  <!-- <div>{{user.userName}}, {{user.userAge}}</div> -->
  <ul>
    <li *ngIf="userList.length==0">한개도 없네?</li>
    <li *ngFor="let u of userList">{{u.userName}}, {{u.userAge}}</li>
  </ul>
</div>
<div style="display:none">
  <input type="text" id="userName" [(ngModel)]="userName"><br>
  <input type="text" id="userAge" [(ngModel)]="userAge"><br>
  <button (click)="addUser()">유저 추가</button>
<h2>Here are some links to help you start:</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
</div>

