/**{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
html,body{margin:0;padding:0;height:100%}
#wrap {display:flex;flex-direction:column;min-height:100%}
header{background:#000;overflow:hidden;display: flex}
header nav li {float:left;padding:5px;list-style:none}
header nav li a{color:#fff;}
#container{}*/
footer{background:#000}