<div class="dialog">
  <h3>{{title}}</h3>
  부서번호 :<input type="text" [(ngModel)]="di.dino"><br>
  부서이름 :<input type="text" [(ngModel)]="di.diname"><br>
  부서설명 :<input type="text" [(ngModel)]="di.didesc"><br>
  부서인원 :<input type="text" [(ngModel)]="di.dicnt"><br>
  <div>
    <button (click)="addDepart()">저장</button>
    <button (click)="close()">취소</button>
  </div>
  <button (click)="close()" area-label="Close" class="dialog__close-btn">X</button>
</div>
<div class="overlay" (click)="close()"></div>

<!--
  1. 보이고 안보이고 값 
  2. 입력한 값
-->